.darkbg{
    background: #333;
}
.darkerbg{
    background : #666;
}
.darkestbg{
    background : #333;
}
.contaibg{
    background-color: #f8f8f8;
}

.bg-subtitle{
  color: #fff;
  background-color: #f1f1f1;
}
.rowpad{
    margin: 10px;
}

.h2s { /* h style overide */
    color: #666;
    text-align: right;
    margin: 10px;
    background-color: white;
}

.body {
    background: #f6f6f6;

}

/* Notes:
Google sheet forat on .html

; */